<div *ngIf="weatherData" class="app-weather-item">
    <div *ngIf="weatherData.name && weatherData.sys.country" class="app-weather-item__title">
      Location: {{weatherData.name}}, {{weatherData.sys.country}}
    </div>
  
    <div *ngIf="weatherData.coord" class="app-weather-item__coordinates">
      Longitude: {{weatherData.coord.lon}}, Latitude: {{weatherData.coord.lat}}
    </div>
  
    <div *ngIf="weatherData.dt_txt" class="app-weather-item__coordinates">
      {{weatherData.dt_txt}}
    </div>
  
    <div class="app-weather-item__weather">
      <div *ngFor="let weatherItem of weatherData.weather" class="app-weather-item__weather-item">
        <img [src]="weatherItem.iconUrl">
        <span class="app-weather-item__weather-item-text">
          {{weatherItem.main}}
        </span>
        <span class="app-weather-item__weather-item-text app-weather-item__weather-item-text_descr">
          {{weatherItem.description}}
        </span>
      </div>
    </div>
  
    <div class="app-weather-item__info">
      <div>
        Temperature: {{(weatherData.main.temp - 273).toFixed(1)}} Pressure: {{weatherData.main.pressure}} hpa
      </div>
      <div>
        Humidity: {{weatherData.main.humidity}}%
      </div>
    </div>
  
    <div class="app-weather-item__wind">
      <div>
        Wind speed: {{weatherData.wind.speed}} m/s Wind deg: {{weatherData.wind.deg}}°
      </div>
    </div>
  
  </div>
  